$primary-bgc: #33ff99;
$ghost-button: white;
$text-color: #666;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    color: $text-color;
    font-family: sans-serif;
    margin: 0;
	font-family: 'Tajawal',sans-serif;
	font-weight:400;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s; 
   	animation: fadein 2s;
}
h1, h2, h3 {
	font-weight:500;
}
h1 {
	font-size:3.33em;
	letter-spacing:3.33px;
}
section {
	position:relative;
	min-height:100vh;
}
.center-center-absolute {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
form {
    width:75%;
}
input[type="text"] {
    line-height: 33px;
    padding: 5px 10px;
    width: 75%;
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(50,50,50,0.4);
    display: inline-block;
    box-sizing:border-box;
    height:45px;
}
input[type="submit"] {
    -webkit-appearance: none;
    background-color: $primary-bgc;
    color:white;
    outline: none;
    border: none;
    display: inline-block;
    width: 25%;
    padding: 11px 33px;
    text-align: center;
    box-sizing:border-box;
    height:45px;
}