$primary-bgc: #33ff99;
$ghost-button: white;
$text-color: #666;

body {
    color: $text-color;
    font-family: sans-serif;
    margin: 0;
    padding: 44px 66px;
    box-sizing: border-box;
	font-family: 'Tajawal',sans-serif;
	font-weight:400;
}
h1, h2, h3 {
	font-weight:500;
}
h1 {
	font-size:3.33em;
	letter-spacing:3.33px;
}
section {
	position:relative;
	min-height:100vh;
}
.center-center-absolute {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}