$primary-bgc: #33ff99;
$ghost-button: white;
$text-color: #666;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    color: $text-color;
    font-family: sans-serif;
    margin: 0;
	font-family: 'Tajawal',sans-serif;
	font-weight:400;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s; 
   	animation: fadein 2s;
}
h1, h2, h3 {
	font-weight:500;
}
h1 {
	font-size:3.33em;
	letter-spacing:3.33px;
}
section {
	position:relative;
	min-height:100vh;
}
.center-center-absolute {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}